<div class="section">

  <p><strong>Simple multiple content projection</strong></p>

  <app-simple-container [items]="fruits">
    <ng-template let-item>
      {{ item }}
    </ng-template>
  </app-simple-container>
</div>

<div class="section">

  <p><strong>Advanced multiple content projection with header and item template</strong></p>

  <app-advanced-container [categories]="advancedFruits">
    <!--  Define the headers' template   -->
    <div *appAdvancedContainerHeader="let header">
      <h1>{{header}}</h1>
    </div>

    <!--  Define the items' template   -->
    <div *appAdvancedContainerItem="let fruit">
      <p>id: {{fruit.item.id}}</p>
      <p>title: {{fruit.item.title}}</p>
      <p>first: {{fruit.first}}</p>
      <p>last: {{fruit.last}}</p>
    </div>
  </app-advanced-container>
</div>
